<!--  -->

<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>Finance Setting</title>
  <link rel="icon" href="../src/icons/main_logo/main_logo.ico">
  <link rel="stylesheet" href="../style/financePageStyle.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');
  </style>
  <script type="text/javascript" src="../scripts/loginPageScripts.js">
</script>
</head>
<body>
  <header>
    <div class="header_title">
      <a href="main_page.html">
        <img title="To home" src="../src/icons/main_logo/main_logo_72x72.png">
      </a>
      <h1> Finance Setting </h1>
    </div>
  </header>
  <nav>
    <div>
      <h2>My monthly fee</h2>
      <form name="my_room" id="my_room" action="/my_room" method="POST">
        <div>
          <p>My room</p>
          <div class="">
            <!-- electronics allotment payments -->
            <% if (total_fuel_used != null) { %>
              <label class="car_lists"><p><%= total_fuel_used %></p></label>
              <label class="car_lists"><p><%= total_electricity_used %></p></label>
            <% } %>
          </div>
        </div>
      </form>
    </div>
    <div>
      <h2>Our monthly fee</h2>
      <form name="my_room" id="my_room" action="/my_room" method="POST">
        <div>
          <p>My room</p>

        </div>
        <div>
          <p>Shared roomr</p>
          <div class="register_btn">
            <!-- electronics payments -->

          </div>
        </div>
      </form>
    </div>
    <div>
      <h2>Car usage</h2>
      <form name="my_room" id="my_room" action="/my_room" method="POST">
        <div>
          <p>My room</p>
          <div class="register_btn">

          </div>
        </div>
        <div>
          <p>Shared roomr</p>
          <div class="register_btn">

          </div>
        </div>
      </form>
    </div>
  </nav>
  <section>
    <div class="application">

    </div>
  </section>
</body>
</html>
