<!--  -->

<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <title>View room</title>
  <link rel="icon" href="../src/icons/main_logo/main_logo.ico">
  <link rel="stylesheet" href="../style/roomPageStyle.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');
  </style>
  <script type="text/javascript" src="../scripts/loginPageScripts.js">
</script>
</head>
<body>
  <header>
    <div class="header_title">
      <a href="main_page.html">
        <img title="To home" src="../src/icons/main_logo/main_logo_72x72.png">
      </a>
      <h1> Room selection </h1>
      <h2> Current Time: <%= current_time %></h2>
    </div>
  </header>
  <nav>
    <div>
      <div>
        <h2>My room</h2>
        <div class="room_section">
          <img alt="image example" src="../src/room_img/my_room.jpg" width="800">
        </div>
        <div class="electronic_section">
          <h3>Electronics in my room</h3>
          <div>
            <section class="electronic_spec">
              <% if (device_info != null
               && device_info.length > 0) { %>
                <% for (var i = 0; i < device_info.length; i++) { %>
                  <div>
                  <p>Device name: <%=device_info[i][1]%></p>
                  <p>Device status:</p>
                  <% if(device_status[i][1] == false) { %>
                    <button class="on_off_btn"> OFF </button>
                  <% } else { %>
                    <button class="on_off_btn"> ON </button>
                  <% } %>
                  </div>
                <% } %>
              <% } else { %>
                <p>No registered device.</p>
              <% } %>
            </section>
          </div>
        </div>
      </div>
      <div>
        <h2>Shared room</h2>
        <div class="room_section">
          <img alt="image example" src="../src/room_img/shared_room.jpeg" width="800">
        </div>
        <div class="electronic_section">
          <h3>Electronics in shared room</h3>
          <nav>
            <section class="electronic_spec">
              <% if (device_info != null
               && device_info.length > 0) { %>
                <% for (var i = 0; i < device_info.length; i++) { %>
                  <p>Device name: <%=device_info[i][1]%></p>
                  <p>Device status:</p>
                  <% if(device_status[i][1] == false) { %>
                    <button class="on_off_btn"> OFF </button>
                  <% } else { %>
                    <button class="on_off_btn"> ON </button>
                  <% } %>
                <% } %>
              <% } else { %>
                <p>No registered device.</p>
              <% } %>
            </section>
          </nav>
        </div>
      </div>
  </nav>
  <section>
    <div class="application">

    </div>
  </section>
</body>
</html>
