<style type="text/css">
  html {
    width: 100%;
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
    background-color:#F3C1FF;
  }

  header {
    width: 100%;
    height: 200px;
    background-color:#F3C1FF;
  }

  .header_div {

  }

  /* Car Homes Wizard */
  .txt_msg , .txt_msg a{
    font-size: 30px;
    font-family: 'Monda', sans-serif;
    vertical-align: top;
    text-align: center;
    color: #9999FF;
    animation: appear_maintitle 5s 1;
    text-decoration: inherit;
  }

  .txt_msg h1 {
    margin: 40px 10px 10px 40px;
    text-decoration: inherit;
  }

  /* TEAM ACOLYTE */
  .title_msg {
    vertical-align: center;
    text-align: center;
    font-family: 'B612', sans-serif;
    margin: 0% 80%;
    color: #9999FF;
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s;
    -webkit-animation: appear_subtitle 5s;
  }

  @keyframes appear_maintitle {
    from {color: #FFFFFF;}
    to {color: #9999FF;}
  }

  @keyframes appear_subtitle {
    from {color: #FFFFFF;}
    to {color: #9999FF;}
  }

  /* Buttons settings */

  #login_button {
    width: 200px;
    height: 50px;
    padding: 0px;
    margin: 10px 30px;
    text-align: center;
    background-color: #FF7C80 ;
    border: 3px solid #FF9396;
    transition-duration: 0.5s;
  }

  #login_button a {
    color: #9999FF;
    font-family: 'B612', sans-serif;
    font-size: 25px;
    text-decoration: inherit;
    transition-duration: 0.5s;
  }

  #login_button :hover, #login_button a :hover {
    transition-duration: 0.5s;
    background-color: #FF5257;
    color: #E8E8FE;
  }

  .login_section {
      width: 100%;
      height: 150px;
      text-align: right;
  }

  nav {
      width: 100%;
      height: 100%;
      background-image: url("../src/backgrounds/purple_pastel_sky.jpg");
      background-size: cover;
      border: 0px solid #F3C1FF;
  }

  nav .content_list {
    width: 100%;
    text-align: center;
  }

  nav .content_list .list {
    width: 30%;
    height: 150px;
    display: inline-block;
    background-color: #F3C1FF ;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 50px 15%;
    transition-duration: 1.5s;
    cursor: pointer;
    border: none;
  }

  nav .content_list .list:hover {
    transition-duration: 0.5s;
    width: 40%;
    height: 250px;
    background-color: #FF7C80;
  }

  nav .content_list .list a {
    color: #FFFFFF;
    font-family: 'Alfa Slab One', cursive;
    font-size: 45px;
    text-decoration: inherit;
  }

  footer {
    width: 100%;
    height: 250px;
    background-color:#F3C1FF ;
  }

  #copyright {
    padding: 0 40px 0 0;
    display: table-cell;
    vertical-align: top;
    text-align:right;
    color:#830072;
  }

  #loadOverlay {
    display: none;
  }
</style>
